{% extends 'bootstrap_3_layout.html.twig' %}

{% block body_id 'error' %}

{% block title 'Error!' %}

{# Errors #}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        <div class="{% if form is not rootform %}help-block{% else %}alert alert-danger{% endif %}">
            <ul class="list-unstyled">
            {%- for error in errors -%}
                {# use font-awesome icon library #}
                <li><i class="fa fa-exclamation-triangle"></i> {{ error.message }}</li>
            {%- endfor -%}
            </ul>
        </div>
    {% endif %}
{%- endblock form_errors %}
