{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{% block main %}
    <p>
        {{ 'title.login'|trans|raw }}
    </p>
    <p>
        <a class="btn btn-primary btn-lg" href="{{ path('security_login') }}">
            <i class="fa fa-lock" aria-hidden="true"></i> {{ 'title.login'|trans }}
        </a>
    </p>
{% endblock %}
